html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #e5e7eb;
  font-size: 18px;
}

a {
	text-decoration: none;
  color: #e5e7eb;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
  display: flex;
  gap: 16px;
}

header {
  background-color: #1F2937;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.topnavbar {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.topcontent {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}

h1 {
  color: #f4faf8;
  font-size: 48px;
  font-weight: bold;
}

.topimage {
  margin-left: 20px;
}

button {
  background-color: #3882f6;
  color: #f4faf8;
  padding: 5px 20px;
  border-radius: 5px;
  border: 0;
  min-width: 100px;
}

.cardscontainer {
  color: #1F2937;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

.cardsblock {
  margin-top: 20px;
  display: flex;
  flex: 1;
  gap: 16px;
}

.quotecontainer {
  background-color: #e5e7eb;
  margin-top: 50px;
}

.quote {
  width: 50%;
  margin: 0 auto;
  padding: 50px 0;
}

.quotetext,
.quotename {
  color: #1F2937;
}

.quotetext {
  font-size: 36px;
  font-style: italic;
}

.quotename {
  font-size: 30px;
  text-align: right;
  font-weight: bold;
  margin-top: 10px;
}

.ctacontainer {
  width: 50%;
  margin: 20px auto;
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 10px;
  padding: 50px 100px;
}

.ctablock {
  display: flex;
  justify-content: space-between;
}

.coabutton {
  border: 1px solid white;
  align-self: center;
}

footer {
  background-color: #1F2937;
  color: #f4faf8;
  text-align: center;
  padding: 10px;
}

.footercontainer {
  width: 50%;
  margin: 0 auto;
}